---
import BaseHead from "../components/BaseHead.astro";
import { CreateForm } from "../components/react/CreateForm";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        width: 960px;
      }
    </style>
  </head>
  <body>
    <main>
      <h1>🥘 Create Recipe</h1>
      <CreateForm client:visible />
    </main>
  </body>
</html>
