---
import BaseHead from "../components/BaseHead.astro";
import { CreateForm } from "../components/react/CreateForm";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <h1>🥘 New Recipe</h1>
      <CreateForm client:only />
    </main>
  </body>
</html>
